<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.se.software_engineer.mapper.CourseMapper">

  <resultMap id="BaseResultMap" type="com.se.software_engineer.entity.Course">
    <id property="courseId" column="course_id" jdbcType="VARCHAR"/>
    <result property="chargingTeacherId" column="charging_teacher_id" jdbcType="VARCHAR"/>
    <result property="teacherId" column="teacher_id" jdbcType="VARCHAR"/>
    <result property="state" column="state" jdbcType="VARCHAR"/>
    <result property="schedule" column="schedule" jdbcType="VARCHAR"/>
    <result property="courseName" column="course_name" jdbcType="VARCHAR"/>

  </resultMap>

  <sql id="Base_Column_List">
    course_id,charging_teacher_id,teacher_id,state,schedule,course_name
  </sql>

  <select id="maxId" resultType="Integer">
    SELECT MAX(course_id)
    FROM course

  </select>



</mapper>
