<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.se.software_engineer.mapper.ExperimentSubmissionMapper">

  <resultMap id="BaseResultMap" type="com.se.software_engineer.entity.ExperimentSubmission">
    <id property="experimentId" column="experiment_id" jdbcType="VARCHAR"/>
    <id property="id" column="id" jdbcType="VARCHAR"/>
    <id property="courseId" column="course_id" jdbcType="INTEGER"/>
    <result property="submissionTime" column="submission_time" jdbcType="DATE"/>
    <result property="type" column="type" jdbcType="VARCHAR"/>
    <result property="content" column="content" jdbcType="VARCHAR"/>
    <result property="score" column="score" jdbcType="DECIMAL"/>
    <result property="correctorId" column="corrector_id" jdbcType="VARCHAR"/>
    <result property="correctorName" column="corrector_name" jdbcType="VARCHAR"/>

  </resultMap>

  <sql id="Base_Column_List">
    experiment_id,id,course_id,submission_time,type,content,score,corrector_id,corrector_name
  </sql>
</mapper>
