<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.se.software_engineer.mapper.ExperimentInfoMapper">

  <resultMap id="BaseResultMap" type="com.se.software_engineer.entity.ExperimentInfo">
    <id property="experimentId" column="experiment_id" jdbcType="VARCHAR"/>
    <result property="courseId" column="course_id" jdbcType="INTEGER"/>
    <result property="teacher" column="teacher" jdbcType="VARCHAR"/>
    <result property="description" column="description" jdbcType="VARCHAR"/>
    <result property="template" column="template" jdbcType="VARCHAR"/>
    <result property="submissionMethod" column="submission_method" jdbcType="VARCHAR"/>
    <result property="startTime" column="start_time" jdbcType="DATE"/>
    <result property="deadline" column="deadline" jdbcType="DATE"/>
    <result property="experimentName" column="experiment_name" jdbcType="VARCHAR"/>

  </resultMap>

  <sql id="Base_Column_List">
    experiment_id,course_id,teacher,description,template,submission_method,start_time,deadline,experiment_name
  </sql>

  <select id="maxId" resultType="Integer">
    SELECT MAX(experiment_id)
    FROM experiment_info

  </select>

</mapper>
