<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.se.software_engineer.mapper.NoticeMapper">

  <resultMap id="BaseResultMap" type="com.se.software_engineer.entity.Notice">
    <id property="noticeId" column="notice_id" jdbcType="INTEGER"/>
    <result property="courseId" column="course_id" jdbcType="VARCHAR"/>
    <result property="courseName" column="course_name" jdbcType="VARCHAR"/>
    <result property="noticeTittle" column="notice_tittle" jdbcType="VARCHAR"/>
    <result property="noticeContent" column="notice_content" jdbcType="VARCHAR"/>
    <result property="date" column="date" jdbcType="DATE"/>

  </resultMap>

  <sql id="Base_Column_List">
    notice_id,course_id,course_name,notice_tittle,notice_content,date
  </sql>

  <select id="maxId" resultType="Integer">
    SELECT MAX(notice_id)
    FROM notice

  </select>

</mapper>
